page-edituserpassword {

  .find{
    .signupTab{
      background: #fff;
      padding-bottom: 5px;
      span{
        width: 100%;
        font-size: 15px;
        color: #515467;
        line-height: 43px;
        text-align: center;
        display: inline-block;
      }

      p{
        width: 100%;
        height: 2px;
        position: relative;
        background: #e6e6f0;
        i{
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          background: #515467;
          height: 2px;
        }

        i:before{

          position: absolute;
          left: 46%;
          bottom: -3px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #515467;
        }

        i:nth-child(2){
          left: 50%;
        }
        i:nth-child(3){
          left: 64%;
          width: 35%;
        }
      }
    }

    .inputBox{
      padding:10px 15px 0;
      //手机验证

      .code{
        position: relative;
        border-bottom: 1px solid #e2e2e2;
        .yzmBut{
          position: absolute;
          bottom:13px;
          right:5px;
          width: auto;
          margin: 0;
          line-height: 27px;
          height: 27px;
          color: #fff;
          border-radius: 50px;
          background: #73779a;
          box-shadow: none;
        }
      }


      button.validationBut{
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border-radius: 22px;
        font-size: 18px;
        background: #e6e6f0;
        color: #515467;
        margin:40px 0 0;
        box-shadow: 1.176px 1.618px 4px 0 rgba(0, 0, 0, 0.08);
        &.confirmVa{
          background: #f72b44;
          color: #fff;
        }
      }
      p{
        font-size: 15px;
        line-height: 22px;
        color: #515467;
        padding: 10px 0;
      }

      .item-block{
        background: none;
        padding-left: 0;
        border-radius: 4px;
        margin-top: 20px;
        position: relative;
        box-shadow: none;
        .item-inner{
          padding-right: 0;
          border: none;
          input{
            padding-left: 10px;
          }
        }
      }
      .prompt{
        position: relative;
        .default{
          position: absolute;
          left: 0;
          bottom:1px;
          width: 100%;
          height: 1px;
          background: #e2e2e2;
          &.success{
            background: #00cb18;
          }
          &.error{
            background: #f72b44;
          }
        }
        &.validation{
          .default{
            width: 65%;
            bottom:8px;
          }
        }
      }
    }

    .verify{
      .prompt{
        .default{
          bottom:0;
        }
      }
      .rightCen{
        position: absolute;
        right: 10px;
        top:0;
        img{
          max-width: 80px;
          margin-top: 5px;
          float: left;
          line-height: 45px;
        }
      }

    }

    .input-md[clearInput] .text-input{
      padding-right: 0;
    }
    .text-input[disabled] {
      opacity: 1 !important;
    }
    .text-input-md{
      margin: 0;
    }
    .item-md{
      &.item-block{
        .item-inner{
          border:none;
          box-shadow:none;
        }
      }
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      border: none;
      box-shadow:none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      border: none;
      box-shadow:none;
    }
  }

}
