
<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="loginBg">

  <!--验证步揍-->
  <div class="find">
    <div class="signupTab">
      <span *ngIf="status == 0">安全验证</span>
      <span *ngIf="status == 1">设置密码</span>
      <p>
        <i></i>
      </p>
    </div>

    <!--第一步-->
    <div class="inputBox" *ngIf="status == 0">
      <form [formGroup]="validatorForm" (ngSubmit)="checkPhone(validatorForm.value)">
        <div class="code">
          <ion-item>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <button class="yzmBut" ion-button *ngIf="!codeSended" type="button"
                  (click)="sendSmsCode(validatorForm.value)">
            发送验证码
          </button>
          <button class="yzmBut" ion-button *ngIf="codeSended" disabled="true">({{count}})已发送</button>
        </div>

        <div class="prompt">
          <ion-item>
            <ion-input type="text" value="" placeholder="请输入短信验证码" formControlName="code" clearInput=true></ion-input>
          </ion-item>
          <div class="default" ></div>
        </div>
        <button ion-button class="validationBut confirmVa" type="submit" >验证
        </button>
      </form>
    </div>

    <!--第二步-->
    <div class="inputBox" *ngIf="status == 1">
      <form [formGroup]="validatorForm" (ngSubmit)="updatePwd(updatePwdForm.value)">
        <div class="prompt">
          <ion-item>
            <ion-input type="password" value="" placeholder="设置账号密码" formControlName="password"
                       (ionChange)="clearRePassword()" clearInput=true></ion-input>
          </ion-item>
          <div class="default"
               ></div>
        </div>
        <div class="prompt">
          <ion-item>
            <ion-input type="password" value="" placeholder="再次确认密码" formControlName="re_password"
                       clearInput=true></ion-input>
          </ion-item>
          <div class="default" 
               ></div>
        </div>
        <button ion-button class="validationBut confirmVa" type="submit" >重置密码
        </button>
        <p>备注：密码长度8位及以上</p>
      </form>
    </div>

  </div>

  <!--<div class="firstStep">-->
    <!--<form [formGroup]="editPwdForm" (ngSubmit)="updatePwdByOldPwd(editPwdForm.value)" novalidate>-->
      <!--<div class="inputBox">-->
        <!--<div class="prompt">-->
          <!--<ion-item>-->
            <!--<ion-input type="password" value="" placeholder="请输入老密码" formControlName="oldPassword"-->
                       <!--clearInput=true></ion-input>-->
          <!--</ion-item>-->
          <!--<div class="default" [class.error]="!oldPassword.valid && oldPassword.touched"-->
               <!--[class.success]="oldPassword.valid"></div>-->
        <!--</div>-->
        <!--<div class="prompt">-->
          <!--<ion-item>-->
            <!--<ion-input type="password" value="" placeholder="请输入新密码" formControlName="newPassword"-->
                       <!--(ionChange)="clearRePassword()" clearInput=true></ion-input>-->
          <!--</ion-item>-->
          <!--<div class="default" [class.error]="!newPassword.valid && newPassword.touched"-->
               <!--[class.success]="newPassword.valid"></div>-->
        <!--</div>-->
        <!--<div class="prompt">-->
          <!--<ion-item>-->
            <!--<ion-input type="password" value="" placeholder="请确认密码" formControlName="re_newPassword"-->
                       <!--clearInput=true></ion-input>-->
          <!--</ion-item>-->
          <!--<div class="default" [class.error]="!re_newPassword.valid && re_newPassword.touched"-->
               <!--[class.success]="re_newPassword.valid"></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="bottomBut">-->
        <!--<button ion-button class="obtain" type="submit" [disabled]="!editPwdForm.valid">提交</button>-->
        <!--<p>备注：密码长度8位及以上</p>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
</ion-content>
